.followers {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, var(--third-color), white);
}

.grid-followers {
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 0.8fr 2.5fr 0.8fr;
    grid-template-rows: 5fr 5fr;
}

.follower1 {
    background: url("https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2Fmolq.jpg?v=1593873523093");
    background-size: cover;
}

.follower2 {
    background: url("https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2F89709599_228594198186140_8186057021336122108_n.jpg?v=1593949597187");
    background-size: cover;
}

.follower3 {
    background: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2FWhatsApp%20Image%202020-07-04%20at%2012.49.29.jpeg?v=1593876452713');
    background-size: cover;
}

.follower4 {
    background: url("https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2FWhatsApp%20Image%202020-06-26%20at%2020.08.08.jpeg?v=1593873374294");
    background-size: cover;
}

.follower5 {
    background: url("https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2Fcaff9231-78df-4e09-a946-5250a9a0a3d0.jpg?v=1593873069424");
    background-size: cover;
}

.follower6 {
    background: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2F76972191_163237508377403_561393943111706032_n.jpg?v=1593904989884');
    background-size: cover;
}

.follower7 {
    background: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2F89298868_2592048307706150_470549962206325899_n.jpg?v=1593949579387');
    background-size: cover;
}

.follower8 {
    background: url("https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2FWhatsApp%20Image%202020-07-04%20at%2012.06.18%20(1).jpeg?v=1593874133970");
    background-size: cover;
}

.follower9 {
    background: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2F90087881_2512544052328291_3809042984105364112_n.jpg?v=1593949568313');
    background-size: cover;
}

.follower10 {
    background: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2FWhatsApp%20Image%202020-07-04%20at%2011.42.01.jpeg?v=1593872668820');
    background-size: cover;
}

.followers .send-photos-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 10px auto;
}

.send-photos-area h2 {
    font-size: max(25px, 3vw);
    font-weight: 400;
    color: var(--first-color);
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.sendpic {
    position: relative;
    padding: 20px 10px;
    width: 100%;
    background-color: var(--first-color);
    color: #FFF;
    text-transform: uppercase;
    display: block;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sendpic:hover {
    background-color: var(--second-color);
}


/*Responsive*/

@media (max-width:700px) {
    .grid-followers {
        width: 100%;
        height: 55%;
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-template-rows: 5fr 5fr;
        grid-gap: 10px;
    }
    .follower3 {
        background: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2F90087881_2512544052328291_3809042984105364112_n.jpg?v=1593949568313');
        background-size: cover;
    }
    .follower4 {
        background: url("https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2F76972191_163237508377403_561393943111706032_n.jpg?v=1593904989884");
        background-size: cover;
    }
    .follower5 {
        display: none;
    }
    .follower6 {
        display: none;
    }
    .follower7 {
        display: none;
    }
    .follower8 {
        display: none;
    }
    .follower9 {
        display: none;
    }
    .follower10 {
        display: none;
    }
}