main .next-matches {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('https://cdn.glitch.com/2fece26e-0b0a-4236-ad30-75de0d62d0c0%2Fbackground.jpg?v=1593803555922');
    background-size: cover;
}

main .tittle-section {
    text-align: center;
    font-size: max(28px, 2.6vw);
    font-weight: 900;
    text-shadow: 1px 1px 1px rgb(87, 1, 1);
    color: white;
    background: linear-gradient(90deg, var(--second-color), var(--first-color));
    padding: 15px;
    width: 100%;
}

main .next-matches .matches-area {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

main .next-matches .matches-area .card {
    margin: auto;
    width: 27%;
    height: 80%;
    background-color: red;
    background: linear-gradient(0deg, rgba(122, 3, 7, 0.924), rgba(122, 3, 7, 0.452)), url('https://imagens1.ne10.uol.com.br/blogsne10/torcedor/uploads//2017/04/cornelio_de_barros_745-745x410.jpg');
    background-size: cover;
    border: 4px solid red;
    border-radius: 8px;
    box-shadow: 15px 15px 0px var(--first-color);
    transition: 0.5s;
    cursor: pointer;
}

main .next-matches .matches-area .card2 {
    background: linear-gradient(0deg, rgba(122, 3, 7, 0.918), rgba(122, 3, 7, 0.452)), url('https://correio-cdn1.cworks.cloud/fileadmin/_processed_/f/4/csm_fontenova_22799a97d4.jpg');
    background-size: cover;
}

main .next-matches .matches-area .card3 {
    background: linear-gradient(0deg, rgba(122, 3, 7, 0.924), rgba(122, 3, 7, 0.452)), url('https://cdn.folhape.com.br/upload/dn_noticia/2018/12/EDW_4136.jpg');
    background-size: cover;
}

main .next-matches .matches-area .card:hover {
    box-shadow: 10px 10px 0px var(--second-color);
    height: 83%;
}

main .next-matches .matches-area .card .card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main .next-matches .matches-area .card .card-content .teams-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .next-matches .matches-area .card .card-content .teams-photo img {
    width: 30%;
}

main .next-matches .matches-area .card .card-content .info-match {
    margin-top: 7%;
}

main .next-matches .matches-area .card .card-content .info-match h3,
h4,
h5 {
    margin-top: 4%;
}

main .next-matches .matches-area .card .card-content .buy-ticket h4 {
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgb(87, 1, 1);
}


/* RESPONSIVE */

@media(max-width:800px) {
    main .next-matches {
        height: 100%;
    }
    main .next-matches .matches-area {
        flex-direction: column;
    }
    main .next-matches .matches-area .card {
        width: 60%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    main .next-matches .matches-area .card .infos h4,
    h5 {
        display: none;
    }
}